input {
    focus-follows-mouse
    keyboard {
        xkb {
	    //options "ctrl:swapcaps"
        }
    }

    touchpad {
        tap
    }

    trackpoint {
        accel-speed 0.5
        accel-profile "flat"
    }
}

output "LG Electronics LG Ultra HD 0x00079BFA" {
    //variable-refresh-rate
    scale 2
    position x=0 y=0
}

output "LG Electronics LG ULTRAFINE 204NTEP8Q684" {
    //variable-refresh-rate
    scale 2
    position x=0 y=1080
}

layout {
    gaps 0

    center-focused-column "never"
    default-column-display "tabbed"

    // Alt-R to switch between
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.66667; }

    focus-ring { off; }
    tab-indicator { off; }
    border { off; }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        //color "#fffffff0"
    }
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 0.8
}

window-rule {
    exclude app-id=".*telegram.*"
    exclude app-id=".*cord"
    open-maximized true
}

window-rule {
    match app-id="foot"
    open-maximized false
}

window-rule {
    match is-active=false app-id="foot"
    opacity 0.85
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match is-floating=true
    geometry-corner-radius 4
    clip-to-geometry true
}

binds {
    Alt+Shift+Slash { show-hotkey-overlay; }

    Alt+Return { spawn "footclient"; }
    Alt+D { spawn "fuzzel"; }
    Alt+Super+L { spawn "swaylock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Alt+Shift+Q { close-window; }

    Alt+Left  { focus-column-or-monitor-left; }
    Alt+Down  { focus-window-or-monitor-down; }
    Alt+Up    { focus-window-or-monitor-up; }
    Alt+Right { focus-column-or-monitor-right; }
    Alt+H     { focus-column-or-monitor-left; }
    Alt+J     { focus-window-or-monitor-down; }
    Alt+K     { focus-window-or-monitor-up; }
    Alt+L     { focus-column-or-monitor-right; }

    Alt+Shift+H     { move-column-left; }
    Alt+Shift+J     { move-window-down; }
    Alt+Shift+K     { move-window-up; }
    Alt+Shift+L     { move-column-right; }

    Alt+Home { focus-column-first; }
    Alt+End  { focus-column-last; }
    Alt+Ctrl+Home { move-column-to-first; }
    Alt+Ctrl+End  { move-column-to-last; }

    Alt+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Alt+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Alt+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Alt+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Alt+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Alt+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Alt+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Alt+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Alt+Ctrl+Page_Down { move-column-to-workspace-down; }
    Alt+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Alt+Ctrl+U         { move-column-to-workspace-down; }
    Alt+Ctrl+I         { move-column-to-workspace-up; }

    Alt+Shift+Page_Down { move-workspace-down; }
    Alt+Shift+Page_Up   { move-workspace-up; }
    Alt+Shift+U         { move-workspace-down; }
    Alt+Shift+I         { move-workspace-up; }

    Alt+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Alt+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Alt+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Alt+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Alt+WheelScrollRight      { focus-column-right; }
    Alt+WheelScrollLeft       { focus-column-left; }
    Alt+Ctrl+WheelScrollRight { move-column-right; }
    Alt+Ctrl+WheelScrollLeft  { move-column-left; }

    Alt+Shift+WheelScrollDown      { focus-column-right; }
    Alt+Shift+WheelScrollUp        { focus-column-left; }
    Alt+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Alt+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Alt+1 { focus-workspace 1; }
    Alt+2 { focus-workspace 2; }
    Alt+3 { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }
    Alt+6 { focus-workspace 6; }
    Alt+7 { focus-workspace 7; }
    Alt+8 { focus-workspace 8; }
    Alt+9 { focus-workspace 9; }
    Alt+0 { focus-workspace 10 ; }

    Alt+Shift+1 { move-column-to-workspace 1; }
    Alt+Shift+2 { move-column-to-workspace 2; }
    Alt+Shift+3 { move-column-to-workspace 3; }
    Alt+Shift+4 { move-column-to-workspace 4; }
    Alt+Shift+5 { move-column-to-workspace 5; }
    Alt+Shift+6 { move-column-to-workspace 6; }
    Alt+Shift+7 { move-column-to-workspace 7; }
    Alt+Shift+8 { move-column-to-workspace 8; }
    Alt+Shift+9 { move-column-to-workspace 9; }
    Alt+Shift+0 { move-column-to-workspace 10; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Alt+BracketLeft  { consume-or-expel-window-left; }
    Alt+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Alt+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Alt+Period { expel-window-from-column; }

    Alt+R { switch-preset-column-width; }
    Alt+Shift+R { switch-preset-window-height; }
    Alt+Ctrl+R { reset-window-height; }
    Alt+F { maximize-column; }
    Alt+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Alt+Ctrl+F { expand-column-to-available-width; }

    Alt+C { center-column; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Alt+Minus { set-column-width "-10%"; }
    Alt+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Alt+Shift+Minus { set-window-height "-10%"; }
    Alt+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Alt+V       { toggle-window-floating; }
    Alt+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Alt+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Alt+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Alt+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Alt+Shift+P { power-off-monitors; }
}
