@define-color blue #005a9e;
@define-color orange #ca5010;
@define-color almost-white #eceff1;
@define-color light-grey #cfd8dc;
@define-color dark-grey #263238;
@define-color almost-black #252423;
@define-color faint-red #d13438;

* {
    font-family: "monospace";
    font-size: 11pt;

    min-height: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
}

#waybar {
    background: linear-gradient(to bottom, transparent 5%, rgba(0, 0, 0, 0.25) 50%, rgba(0,0,0,0.5));
}

#workspaces button {
    color: @almost-white;
    padding: 1pt 2pt
}

#workspaces button.focused {
    background: @light-grey;
    color: @dark-grey;
}

/* Disable hover effects */
#workspaces button:hover {}

#mpris, #wireplumber, #network, #bluetooth, #cpu, #memory, #backlight, #battery, #clock, #tray {
    color: @almost-white;
    color: @almost-white;
    padding-left: 5pt;
    padding-right: 5pt;
}

#mpris, #wireplumber {
    background: @faint-red;
}

#network, #bluetooth {
    background: @blue;
}

#cpu, #memory, #backlight, #battery {
    background: @orange
}

#clock, #tray {
    background: @almost-black;
}

/* Separators */
#custom-separator-orange-to-almost-black {
    min-width: 20pt;
    background: linear-gradient(135deg, @orange 50%, @almost-black 50%);
}

#custom-separator-blue-to-orange {
    min-width: 20pt;
    background: linear-gradient(135deg, @blue 50%, @orange 50%);
}

#custom-separator-faint-red-to-blue {
    min-width: 20pt;
    background: linear-gradient(135deg, @faint-red 50%, @blue 50%);
}

#custom-separator-transparent-to-faint-red {
    min-width: 20pt;
    background: linear-gradient(135deg, transparent 50%, @faint-red 50%);
}
