[Unit]
Description=QuickShell
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/quickshell
Restart=on-failure

[Install]
WantedBy=graphical-session.target
