[Unit]
Description=Sway idle management daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w \
    timeout 600 'swaylock -f --screenshot --fade-in 0.5 --effect-blur 20x5' \
    timeout 1200 'niri msg action power-off-monitors' \
    resume 'niri msg power-on-monitors' \
    before-sleep 'swaylock -f --screenshot --fade-in 0.5 --effect-blur 20x5'
Restart=on-failure
