[Unit]
Description=Sway idle management daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w \
    timeout 600 'hyprlock' \
    timeout 1200 'niri msg action power-off-monitors' \
    before-sleep 'hyprlock'
Restart=on-failure
